/* 폰트 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div {
  font-family: "Noto Sans KR", sans-serif;
}

.HomeContainer {
  position: relative;
  background-color: black;
  color: white;
  z-index: 1;
  opacity: 0;
}

.HomeBox {
  position: relative;
  margin-top: 10%;
  margin-left: 7.5%;
}

.HomeBox h1 {
  font-size: 70px;
  font-weight: 600;
}

.HomeBoxQuote {
  position: relative;
  font-size: 30px;
  text-align: center;
  margin-right: 20%;
  font-weight: 200;
  margin-top: 8%;
}

.HomeLink {
  text-decoration: none;
  color: white;
  margin-top: 7%;
  font-size: 20px;
}

.HomeLink a {
  color: white;
  text-decoration: none;
  font-weight: 50;
}

.blogLink {
  margin-left: 40px;
}

.HomeLink span {
  margin-left: 40px;
}

.HomeLine {
  width: 200px;
}

.HomeContainerScrolled {
  opacity: 1;
  transition: 5s;
}

@keyframes scroll {
  0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 9))}
}

.slider{
	height: 50px;
	overflow:hidden;
	position: relative;
	width: 960px;
  background: #FAFF00;
}
.slider-track{
  height: 50px;
  position: relative;
  width: calc(20rem * 24);
  overflow-x: hidden;
  display: flex;
  animation: scroll 15s linear infinite;
}
.slide {
  width: fit-content;
  height: inherit;
  left: 0%;
  top: 0%;
  text-align: center;
  color: black;
  background: #FAFF00;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 3rem;
  font-family: 'Cabin', sans-serif;
}
.slide-icon{
  display: flex;
  align-items: center;
}
.slide-icon > img{
  width: 2rem;
  height: 2rem;
  margin: 0;
}