div {
  font-family: "Noto Sans KR", sans-serif;
}

.AboutContainer {
  background-color: black;
  color: white;
  height: 50rem;
  padding-top: 150px;
}

.AboutContainer h1 {
  color: rgb(146, 142, 142);
  font-weight: 800;
}

.AboutContainerTitle {
  font-size: 40px;
  text-align: center;
}
.AboutBox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.WhoAmI {
  margin-top: 12%;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.WhatILike {
  margin-top: 12%;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.typeLike {
  font-size: 18px;
  margin-top: 12%;
}

.AboutLine {
  width: 200px;
  margin-left: 37%;
}

.active {
  color: white;
  background-color: #1d1d1d !important;
}
div > .vote-done-image {
  display: none;
}
.active > .vote-done-image {
  display: block;
  transform: translateY(0%);
  height: 12rem;
  position: absolute;
}
.meme-image {
  flex: 1;
  height: inherit;
}
.meme-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .active > .vote-done-image {
    width: 80%;
  }
}
