div {
  font-family: "Noto Sans KR", sans-serif;
}

.active {
  color: white;
  background-color: #1d1d1d !important;
}
div > .vote-done-image {
  display: none;
}
.active > .vote-done-image {
  display: block;
  transform: translateY(0%);
  height: 12rem;
  position: absolute;
}
.meme-image {
  flex: 1;
  height: inherit;
}
.meme-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.meme-name{
  text-align: left;
  margin-left: 2rem;
  font-size: 1.8rem;
  height: 50%;
}
.meme-count{
  height: 50%;
}

@media screen and (max-width: 500px) {
  .active > .vote-done-image {
    width: 80%;
  }
  .meme-name{
    text-align: left;
    margin-left: 1rem;
    font-size: 1.3rem;
    height: 50%;
  }

}
