.adminActions {
  position: fixed;
  bottom: 7rem;
  z-index: 9999;
  max-width: 500px;
  width: 100%;
  transform: translateX(35%);
  left: 50%;
  text-align: right;
}

.share-button {
  height: 6rem;
  width: 6rem;
  background-color: #faff00;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.share-button > img {
  width: 2.7rem;
  margin: 1.5rem;
}
.adminButtons {
  position: absolute;
  bottom: 120%;
  width: 6rem;
}

.adminButtons a {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #faff00 !important;
  text-decoration: none;
  margin: 10px auto 0;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.3);
}

.adminButtons a:hover {
  transform: scale(1.05);
}

.adminButtons a {
  background-color: #e4e5e5;
  transition: opacity 0.2s ease-in-out 0.3s, transform 0.15s ease-in-out;
  text-align: center;
  line-height: 6rem;
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.adminActions a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  background-color: #faff00 transparent;
  border: none;
  outline: none;
  z-index: 2;
}
.adminToggle:focus {
  outline: none !important;
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .adminActions {
    transform: translateX(30%);
  }

  .share-button,
  .adminToggle,
  .adminButtons a {
    width: 4.5rem;
    height: 4.5rem;
  }

  .adminButtons a {
    line-height: 4.5rem;
  }
  .adminButtons {
    width: 4.5rem;
  }

  .kakao-button,
  .twitter-button {
    margin-top: 8px !important;
  }
}
