.topMeme,
.memeCount {
  width: 50%;
}

.topMeme {
  color: white;
  font-size: 2rem;
}

.memeCount {
  color: #faff00;
  font-size: 2.2rem;
  font-weight: bold;
}

.meme {
  margin: 0 -3rem;
}
.meme.rank1 {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  order: 0;
}
.meme.rank2 {
  width: 21rem;
  height: 21rem;
  margin-top: 2rem;
  border-radius: 50%;
  order: 2;
}

.top2-image-box {
  display: flex;
}
.top2-vs {
  background: #faff00;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  order: 1;
  z-index: 9999;
  margin: auto -1.5rem;
  text-align: center;
  line-height: 6rem;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .meme.rank1 {
    width: 20rem;
    height: 20rem;
  }
  .meme.rank2 {
    width: 17rem;
    height: 17rem;
  }
  .topMeme {
    font-size: 1.7rem;
  }
  .memeCount {
    font-size: 2rem;
  }
  .top2-vs {
    font-size: 1.8rem;
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
  }
}

@media screen and (max-width: 380px) {
  .meme.rank1 {
    width: 18rem;
    height: 18rem;
  }
  .meme.rank2 {
    width: 15rem;
    height: 15rem;
  }
  .topMeme {
    font-size: 1.4rem;
  }
  .top2-vs {
    font-size: 1.8rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    background: #faff00;
    border-radius: 50%;
    order: 1;
    z-index: 9999;
    margin: auto -1rem;
    text-align: center;
    font-weight: bold;
    margin-right: 0rem;
  }
}
