div {
  font-family: "Noto Sans KR", sans-serif;
}

.active {
  color: white;
  background-color: #1d1d1d !important;
}
div > .vote-done-image {
  display: none;
}
.active > .vote-done-image {
  display: block;
  transform: translateY(0%);
  height: 12rem;
  position: absolute;
  width: 100%;
}
.meme-image {
  flex: 1;
  height: inherit;
  border-radius: 1rem 0 0 1rem;
}
.meme-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.meme-name {
  text-align: left;
  margin-left: 2rem;
  font-size: 1.8rem;
  height: 47.5%;
}
.meme-count {
  height: 50%;
  font-size: 1.8rem;
  color: #faff00;
  text-align: left;
  margin-left: 2rem;
  font-weight: 400;
}
.meme-count .meme-count-text {
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 500px) {
  .active > .vote-done-image {
    height: 11rem;
  }
  .meme-name {
    text-align: left;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .meme-count {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
